.order{
    width: 700px;
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 5px;
    border-bottom: 1px solid #00b6f3;
    transition: 0.3s;
}


.order_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order_price{
    display: flex;
    align-items: center;
}

.price_item{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: 20px;
}
.order_btn{
    display: flex;
    justify-content: end;
}


.order_btn button{
    background-color:#00b6f3;
    border: none;
    padding: 8px;
    font-size: 10px;
    border-radius: 5px;
    color: white;
    transition: color 0.5s ease-in;
}


.order_btn button:hover{
    background-color: #0f4;
}
