.customer {
  height: 600px;
  color: white;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url(https://work-zilla.com/header_bg_hd.6ba01b3b3a56337b99b2.svg);
  background-position: top -330px right -1100px;
  background-color: #2490bc;
  padding-top: 120px;
  display: flex;
  flex-direction: row;
}

.customer img {
  position: absolute;
  right: 220px;
  width: 550px;
}

.title_and_btns {
  margin-left: 140px;
}
.title {
  font-size: 42px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.btns {
  display: flex;
  flex-direction: column;
}

.find_btn,
.become_btn {
  height: 80px;
  width: 400px;
  border: 1px lightgray solid;
  margin: 25px 0;
  font-size: 26px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  font-family: "PT Sans", sans-serif;
}

.find_btn {
  color: black;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: button-background-animation;
  transition: 0.1s linear;
}
@keyframes button-background-animation {
  0%,
  100% {
    background-color: #00b6f3;
  }
  25% {
    background-color: #f8f8f8;
  }
  75% {
    background-color: #0f4;
  }
}

.find_btn:hover,
.become_btn:hover {
  transform: scale(1.1, 1.05);
  transition: 0.3s;
}

.become_btn {
  background: rgba(36, 127, 163, 0.8);
}

@media screen and (max-width: 1100px) {
  .customer img {
    display: none;
  }
}

.howItWork {
  padding: 0 0 90px 0;
  width: 100%;

}

.benefits_title {
  color: #2d6d86;
  margin-bottom: 60px;
  padding: 0 80px;
}
.benefits {
  padding: 0 80px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.benefits div {
  display: flex;
  flex-direction: column;
  width: 23%;
  padding-right: 30px;
  margin-bottom: 80px;
}

.benefits span {
  margin: 10px 0;
  font-size: 26px;
  color: #2d6d86;
}

.benefits p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.benefits div img {
  width: 60%;
  margin-bottom: 15px;
}

.hands_logo {
  position: absolute;
  right: 80px;
  top: -340px;
}
