
.header_container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    background-color: transparent;
    width: 95%;
}

.block {
    display: flex;
    align-items: center;
}


.img_logo {
    margin-left: 150px;
    width: 90px;
    height: 90px;
}

.company_name {
    margin-left:20px;
    font-size: 35px;
    font-family: 'PT Sans', sans-serif;
    color: #fff
}


.register {
    font-size: 18px;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    font-weight: bold;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    
}
.register:hover {
    border-bottom: 3px solid #0f4;
    
}

.loginField {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}

span{
    color:  rgba(31, 32, 33, 0.3);
    font-size: 19px;
    margin: 0 5px 0 5px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}

.btn {
    margin-left: 10px;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 40px;
    background-color: rgba(19,193,254,.3);
    border: none;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    color:#0f4;
    transform: scale(1.05);
}


.modalField {
    display: flex;
}