.task_content{
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
}
.task_content div{
    margin-bottom: 10px;
}

.task_location{
    display: flex;
}

.input_radio{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 40px;

}
.input_radio input{
    margin-right: 20px;
}

.textarea_block{
    width: 60%;
}

textarea {
    width: 100%;
    height:90px;
   border: 1px solid rgb(40, 194, 255);
    background: transparent;
    resize: none;
    overflow: auto;
}
 
textarea:focus {
    outline: none;
}


.task_inner{
    display: flex;
    gap: 20px;
}